.student-list-span, .teacher-list-span {
    display: inline-block;
    width: 20vw;
    padding: 0.3rem;
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

ul {
    list-style: none;
  }

li {
    background-color: #865271;
    margin: 1rem;
    padding: 0.8rem;
}

.button-30, h1 {
  margin: 1px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure the overlay is above other elements */
  }

  /* Styles for the popup */
  .popup {
    width: 50vw;
    height: 50vh;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 2; /* Ensure the popup is above the overlay */
  }

  /* Close button style */
  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; /* Ensure the close button is above the popup */
  }

  input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

#send-request-btn {
    color: #E91E63;
    display: block;
    margin-left: 42%;
    margin-top: 10%;
}

#session-list {
  width: auto;
  max-width: 20vw;
  margin-top: 5px;
}

.upload-file {
  margin-top: 20px;
  margin-left: auto;
}

@media (max-width: 750px) {
  .student-list-span, .teacher-list-span {
      width: 60%; 
      margin: 0.5rem 0; 
  }

  .button-30 {
      width: 60%; 
      max-width: none; 
      margin-top: 10px; 
  }

  .popup {
      width: 80vw; 
      height: 60vh; 
  }

  #send-request-btn {
      margin-left: 30%; 
      margin-top: 5%; 
  }
}